.cart_form {
  width: 400px;
}

.cart_form form {
  display: flex;
  flex-direction: column;
  border-top: 4px double rgb(182, 7, 7);
  border-bottom: 4px double rgb(182, 7, 7);
  margin: 10px 0;
  padding: 10px 0;
}
.cart_form form .input_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart_form form input {
  width: 200px;
  margin: 10px 0;
  padding: 10px;
}
.cart_form .order_item {
  display: flex;
  justify-content: space-between;
}
.cart_form .order_item p {
  font-size: 18px;
  font-weight: 700;
}
.cart_form .order_item p span {
  font-size: 16px;
  font-weight: 400;
  color: rgb(39, 39, 38);
}
