.txt_box {
  text-align: center;
}

.txt_box h3 {
  font-size: 28px;
}

.txt_box p {
  font-size: 18px;
}
.txt_box span {
  display: inline-block;
  font-size: 16px;
  margin-bottom: 40px;
  background-color: rgb(189, 9, 9);
  color: #fff;
  font-weight: 700;
  padding: 10px;
}
