.order_item h4,
.order_info h4,
.total_box h4 {
  font-size: 18px;
}

.order_info p,
.total_box p {
  font-size: 17px;
}
.desc_box {
  display: flex;
}
.order_item {
  width: 300px;
  padding-left: 50px;
}
.order_item .item_desc {
  border-bottom: 1px solid rgb(247, 215, 215);
}
.order_item p {
  font-size: 16px;
}

.total_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
