.order_draft .order_item h4,
.order_draft .order_info h4,
.order_draft .total_box h4 {
  font-size: 18px;
}

.order_draft .order_info p,
.order_draft .total_box p {
  font-size: 17px;
}
.order_draft .desc_box {
  display: flex;
}
.order_draft .order_item {
  width: 300px;
  padding-left: 50px;
}
.order_draft .order_item .item_desc {
  border-bottom: 1px solid rgb(247, 215, 215);
}
.order_draft .order_item p {
  font-size: 16px;
}

.order_draft .total_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .order_draft .order_item h4,
  .order_draft .order_info h4,
  .order_draft .total_box h4 {
    font-size: 2.3438vw;
  }

  .order_draft .order_info p,
  .order_draft .total_box p {
    font-size: 2.2135vw;
  }

  .order_draft .order_item {
    width: 39.0625vw;
    padding-left: 6.5104vw;
  }
  .order_draft .order_item .item_desc {
    border-bottom: 0.1302vw solid rgb(247, 215, 215);
  }
  .order_draft .order_item p {
    font-size: 2.0833vw;
  }

  .order_draft .total_box {
    align-items: center;
  }
}
