.menu_item {
  border-bottom: 1px solid rgba(124, 116, 116, 0.411);
}

.menu_item .menu_name {
  font-size: 22px;
  font-weight: 700;
}
.menu_item .menu_desc {
  font-size: 16px;
  line-height: 0;
}

.menu_item .menu_price {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: rgb(182, 7, 7);
}
