@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}

button {
  background-color: brown;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.main_box {
  padding: 2% 0;
}

@media screen and (max-width: 768px) {
  button {
    font-size: 2.0833vw;
    padding: 1.3021vw 2.6042vw;
    border-radius: 1.3021vw;
  }
  .main_box {
    padding: 20% 0;
  }
}
